[Unit]
Description=cloudflared tunnel
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/cloudflared
ExecStart=/usr/bin/cloudflared --no-autoupdate tunnel run --token "${CLOUDFLARED_TOKEN}"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
