[Unit]
Description=HaaS proxy daemon for SSH, python3
After=syslog.target network.target local-fs.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/etc/default/python3-haas_proxy
ExecStart=/usr/bin/python3 -m haas_proxy --nodaemon haas_proxy --device-token "${DEVICE_TOKEN}"
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
