# Home Assistant integration (MQTT discovery)
homeassistant: true

# allow new devices to join
permit_join: true

# MQTT settings
mqtt:
  # MQTT base topic for zigbee2mqtt MQTT messages
  base_topic: zigbee2mqtt
  # MQTT server URL
  server: 'mqtt://localhost:1883'
  # MQTT server authentication, uncomment if required:
  user: {{ mqtt_clients.zigbee2mqtt.username }}
  password: {{ mqtt_clients.zigbee2mqtt.password }}

# Serial settings
serial:
  port: tcp://{{ zigbee_coordinator_ip }}:6638 #Change IP and Port
  baudrate: 115200
advanced:
  transmit_power: 20
