version: 4
advanced:
  last_seen: ISO_8601
  log_output:
    - console
  network_key: {{ zigbee2mqtt_network_key }}
  pan_id: {{ zigbee2mqtt_pan_id }}
  ext_pan_id: {{ zigbee2mqtt_ext_pan_id }}
  transmit_power: 20
devices:
  # keep-sorted start
  '0x0ceff6fffe6a5404':
    friendly_name: SNZB-06P PetrR (0x0ceff6fffe6a5404)
    description: Zigbee occupancy sensor
  '0x58e45b83342d585a':
    friendly_name: Qingping CGDK2-z PetrR (0x58e45b83342d585a)
    description: Temp & RH Monitor Lite (pvxx/ZigbeeTLc)
  '0x881a14fffe95bb7c':
    friendly_name: IKEA LED2201G8 PetrR (0x881a14fffe95bb7c)
    description: TRADFRI bulb E26/27, white spectrum, globe, opal, 1055/1100 lm
    availability:
      timeout: 1
  '0xa4c138bc7ea071c3':
    friendly_name: Tuya WSD500A PetrR (0xa4c138bc7ea071c3)
    description: >-
      Temperature & humidity sensor which exposes battery, temperature,
      humidity, voltage, linkquality
  # keep-sorted end
frontend:
  enabled: true
  url: https://zigbee2mqtt-rpi.xvx.cz
homeassistant:
  enabled: true
mqtt:
  base_topic: zigbee2mqtt
  server: mqtt://{{ ansible_default_ipv4.address }}:1883
  user: zigbee2mqtt
  password: {{ mqtt_clients.zigbee2mqtt.password }}
  version: 5
serial:
  adapter: zstack
  port: tcp://{{ zigbee_coordinator_ip }}:6638
  baudrate: 115200
