  <sources>
    <video>
        <default pathversion="1"></default>
        <source>
            <name>Videos</name>
            <path pathversion="1">ftp://{{ openwrt_ip }}/movies/</path>
        </source>
    </video>
    <music>
        <default pathversion="1"></default>
        <source>
            <name>Music</name>
            <path pathversion="1">ftp://{{ openwrt_ip }}/music/</path>
        </source>
    </music>
  </sources>
