# keep-sorted start newline_separated=yes
# Lychee cache
.lycheecache

# pre-commit config file
.pre-commit-config.yaml

# Byte-compiled files
__pycache__/

# Ansible vault password file
vault-*.password
# keep-sorted end
