[submodule "roles/cloudalchemy.grafana"]
	path = roles/cloudalchemy.grafana
	url = https://github.com/cloudalchemy/ansible-grafana.git
[submodule "roles/cloudalchemy.node-exporter"]
	path = roles/cloudalchemy.node-exporter
	url = https://github.com/cloudalchemy/ansible-node-exporter.git
[submodule "roles/cloudalchemy.prometheus"]
	path = roles/cloudalchemy.prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus.git
[submodule "roles/geerlingguy.firewall"]
	path = roles/geerlingguy.firewall
	url = https://github.com/geerlingguy/ansible-role-firewall.git
[submodule "roles/oefenweb.fail2ban"]
	path = roles/oefenweb.fail2ban
	url = https://github.com/Oefenweb/ansible-fail2ban.git
