{
    "version": 2,
    "minor_version": 1,
    "key": "person",
    "data": {
        "items": [
            {
                "name": "Petr Ruzicka",
                "user_id": "2c4d1ecf011740dab6cb407519d28f53",
                "device_trackers": [],
                "id": "petr_ruzicka"
            }
        ]
    }
}
