BLOCKING_ENABLED=true
CACHE_SIZE=10000
CHECK_DISK=0
DHCP_ACTIVE=true
DHCP_END={{ wifi_api_ip_subnet }}.251
DHCP_IPv6=false
DHCP_LEASETIME=24
DHCP_ROUTER={{ wifi_api_ip_subnet }}.1
DHCP_START={{ wifi_api_ip_subnet }}.201
DHCP_rapid_commit=false
DNSMASQ_LISTENING=all
DNSMASQ_LISTENING=local
DNSSEC=true
DNS_BOGUS_PRIV=true
DNS_FQDN_REQUIRED=true
INSTALL_WEB_INTERFACE=true
INSTALL_WEB_SERVER=true
IPV4_ADDRESS=192.168.1.2/24
IPV6_ADDRESS=
LIGHTTPD_ENABLED=true
PIHOLE_DNS_1=8.8.8.8
PIHOLE_DNS_2=8.8.4.4
PIHOLE_DOMAIN=lan
PIHOLE_INTERFACE=wlan0
QUERY_LOGGING=true
REV_SERVER=false
WEBPASSWORD={{ pihole_admin_password | hash('sha256') | hash('sha256') }}
