# keep-sorted start
api_password: "{{ esphome_api_encryption_key }}"
ota_password: "{{ esphome_ota_password }}"
web_server_password: "{{ esphome_web_server_password }}"
web_server_username: "{{ esphome_web_server_username }}"
wifi_password: "{{ wifi_password }}"
wifi_ssid: "{{ wifi_24ghz_ssid }}"
# keep-sorted end
