<settings version="2">
    <setting id="audiooutput.audiodevice">ALSA:hdmi:CARD=vc4hdmi0,DEV=0</setting>
    <setting id="eventlog.enabled">false</setting>
    <setting id="locale.country">Central Europe</setting>
    <setting id="locale.subtitlelanguage" default="false">Czech</setting>
    <setting id="locale.timezone" default="false">{{ timezone }}</setting>
    <setting id="locale.timezonecountry" default="false">Czech Republic</setting>
    <setting id="lookandfeel.enablerssfeeds" default="false">true</setting>
    <setting id="lookandfeel.startupwindow" default="false">10025</setting>
    <setting id="musicplayer.visualisation" default="false">visualization.spectrum</setting>
    <setting id="myvideos.extractchapterthumbs" default="false">true</setting>
    <setting id="myvideos.extractflags" default="false">true</setting>
    <setting id="myvideos.extractthumb" default="false">true</setting>
    <setting id="services.webserver" default="false">true</setting>
    <setting id="services.webserverpassword" default="false">{{ kodi_guisettings_services_webserverpassword }}</setting>
    <setting id="services.esenabled">false</setting>
    <setting id="slideshow.staytime" default="false">3</setting>
    <setting id="subtitles.charset" default="false">CP1250</setting>
    <setting id="subtitles.color" default="false">0</setting>
    <setting id="subtitles.languages" default="false">Czech</setting>
</settings>
