# keep-sorted start
alloy_grafana_cloud_loki_url: "https://logs-prod-012.grafana.net/loki/api/v1/push"
alloy_grafana_cloud_loki_username: 911770
alloy_grafana_cloud_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  30373063353936356235666231616538623839336138616633313561623135303238383332396631
  3863633764626662363162323338633663663733356133320a633032333639386266396365363130
  66303538663265366532666638353866373036646562646432353430366466353331383338663336
  3461633239613536310a663732383239626261323062323938336363613632383230653733663739
  62636639616639373066363037396534653766316230303266343638306230646162386563336630
  30316662626134646233643537326139626162333036383364303633313035393636333464366261
  38336330613936356236333637393431613630626565643034363365623238316635333663343532
  62333731663366646337306534313661663264323734383839616561356437346431336332333137
  32353233313064373161323431663165313439653566373462326437373333343034616463353266
  62333731646265363734616630383764663233346633316635353030616432636562386165613637
  65356337653837646236356365646465353164383438303065356266313435306161353931383833
  61396530373230316435
alloy_grafana_cloud_prometheus_url: "https://prometheus-prod-24-prod-eu-west-2.grafana.net/api/prom/push"
alloy_grafana_cloud_prometheus_username: 1623667
# renovate: datasource=github-tags depName=grafana/alloy
alloy_grafana_version: 1.11.3
backup_directory: /mnt/backups/raspi
backup_server: 192.168.1.1
backup_user: root
bluetooth_device_address_headset: 08:C8:C2:85:EF:57 # Device 08:C8:C2:85:EF:57 PetrR Jabra Evolve2 55
bluetooth_device_address_rpi: DC:A6:32:0E:BD:15
# https://thesmarthomejourney.com/2022/08/01/fixing-cadvisor-cpu/
# https://github.com/docker/for-linux/issues/1112 - Grafana -> Cadvisor exprter -> Memory
boot_cmdline_parameters: cgroup_enable=cpuset cgroup_enable=memory
boot_config_parameters: |
  hdmi_ignore_cec_init=1
cloudflared_tunnel_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  61393336363832613065376531643131646432666537326135393837653138356436643235366466
  3666373839343265343930343039363538313633626364630a623364353230346136336631616463
  38633033623366623661303564333465386164643836623961303662343965363162643563636636
  3565323433393866340a623361363230326138616336616135653964636630336563623964353630
  37333832373532393434343533623666383266623162393731656665663361393962323066323838
  33653530346239343235613138623139383037656133386438373934366138663636636635343039
  31653938373866653164633537623665663761623034666535616437303361313130363162333964
  34306333326237623332366638353361376638633632316137323134396464343439393433623262
  61653536653464643031303736386132383138663438353964373763303762393963663435396261
  62636532343062333830363361386632306162393961333736656462356539613664363230623162
  38396635653535373064333762326262346665643932376532333637636266356331613935313162
  30323664353062343863616361653230363639373937356665346537316433306664666232306331
  64376264333665343832343366623636316435343636636337373737353038613630313661613138
  34396565616463343532653436613835336233623566626232636661306562353932626333316237
  35343264386334336161653065376161626362366264656238383361393434323432633939343731
  31663634336136666330643630626339663634653863613338366438623438663830636633346361
  3466
docker_config:
  metrics-addr: 127.0.0.1:9323
docker_container_timeout: 500
esphome_api_encryption_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  35666264643066363966666162656436333232663039306239653164646637646264306164323734
  3665636662636461343962363537626330643533336238380a636365386130313966356632653137
  38326161636132626532386261343662306366353238373638303837633838383931646662656533
  3338343732633232340a396565343865326635316632326166323035633864313865363832653839
  32333862333732636330316433646430333665633664633735373939653762353935656239323530
  3437333236363738366237363361623439616364323762366262
esphome_ota_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  62656266396464636262313430373866663361623862303435643432626235366435333430633564
  3730303630353836616330653162373538613934366162620a623137353032396438616637613437
  35303937663366333661626662623239336536646363376635616639623032383862333133363836
  3330663064626461640a353662383031623866663630303833326631383238363163326265636235
  3837
esphome_web_server_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  32653634643863333930306135363138336432313433613638613635663936643061376335613036
  3335333865343066663464373830613139623065303364390a643663346665363733363566373963
  65376664356633656434393065636266396439633762633563623435613837663435343165306637
  6634663431373061620a396638633134323436663336643665636466346464343762643235666435
  3033
esphome_web_server_username: admin
firewall_additional_rules:
  - "iptables -A INPUT -m pkttype --pkt-type multicast -j ACCEPT"
  - "iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE"
firewall_allowed_tcp_ports: "{{ fw_allowed_tcp_ports }}"
firewall_allowed_udp_ports: "{{ fw_allowed_udp_ports }}"
firewall_forwarded_tcp_ports: "{{ fw_forwarded_tcp_ports }}"
firewall_log_dropped_packets: false
fw_allowed_tcp_ports:
  - 22 # SSH
  - 22222 # SSH
  - 1883 # MQTT
fw_allowed_udp_ports:
  - 1883 # MQTT
  - 5353 # mDNS - avahi-daemon
fw_forwarded_tcp_ports:
  - src: 22222
    dest: 22
grafana_dashboards:
  # 1617-systemd-service-dashboard
  - dashboard_id: 1617
    revision_id: 1
    datasource: prometheus
  # 1860-node-exporter-full
  - dashboard_id: 1860
    revision_id: 37
    datasource: prometheus
  # 16124-blackbox-exporter
  - dashboard_id: 16124
    revision_id: 2
    datasource: prometheus
  # 18153-openwrt
  - dashboard_id: 18153
    revision_id: 3
    datasource: prometheus
  # 18538-blackbox-exporter
  - dashboard_id: 18538
    revision_id: 1
    datasource: prometheus
  # 18999-grafana-metrics
  - dashboard_id: 18999
    revision_id: 1
    datasource: prometheus
  # 19268-prometheus
  - dashboard_id: 19268
    revision_id: 1
    datasource: prometheus
  # 19908-docker-container-monitoring-with-prometheus-and-cadvisor
  - dashboard_id: 19908
    revision_id: 1
    datasource: prometheus
  # 21040-docker-daemons
  - dashboard_id: 21040
    revision_id: 1
    datasource: prometheus
grafana_datasources:
  - name: prometheus
    type: prometheus
    access: proxy
    url: http://127.0.0.1:9090
    basicAuth: false
    isDefault: true
grafana_ini:
  auth:
    disable_login_form: true
    anonymous:
      enabled: true
      org_role: Admin
  security:
    admin_password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      66616133396633383138643238383734656230663038663562373936616466396636663566633639
      3566383935643765343638323738363166396235383434320a346135353736663734386438613939
      61346135356565363035613261663837636564613232396464623036356637303336616236373435
      6565326435366132660a366461303865326631343338653231616564653331303064353265333763
      61326435303537313636323666323230653337363263636661633137303838333235
    allow_embedding: true
    cookie_samesite: none
  server:
    http_addr: 127.0.0.1
    http_port: 3001
    root_url: https://grafana-rpi.xvx.cz
  smtp:
    enabled: true
    host: smtp.gmail.com:587
    user: "{{ smtp_gmail_auth_user }}"
    password: "{{ smtp_gmail_auth_password }}"
# renovate: datasource=github-tags depName=grafana/grafana
grafana_version: 12.2.1
hass_config_directory: /var/lib/hass_config
hass_url: https://hass-rpi.xvx.cz
hass_user_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  36383761353565313761323366353930616534613838613735633633363033383030396133643835
  6361313239326562393530346639643532386538373933640a646330633633313531663364353535
  66393035343037636638643933353939313464323333336163633765653764363563653435393830
  3635363639363234300a376261343464316232363230393131393239623637353433313330623266
  6330
kernel_modules:
  - nf_conntrack
kodi_guisettings_services_webserverpassword: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38653764613033376437363965616337613533393763393030393939623063393862663930393237
  6534386166373137303831353730323039623962626465610a613735326138613962623465303466
  62663962323935663061396362306636643864313963336136303263643736393936643334653831
  6431633335363932380a636264393537646664613734326231306262396536366334386431393464
  3430
mqtt_clients:
  zigbee2mqtt:
    user: zigbee2mqtt
    password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      39393166353635323566353939643838633935393733646266303837313465383134333465666365
      3961333035623462356134633530366237383838643332350a633336633833613339353037366164
      61373563336634303163303134323765373033396664346233323262616232326333323633373136
      3334306630376137340a396631316535313536356232663465323736343161373865616133396239
      6236
  uzg-01:
    user: uzg-01
    password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      33643465623565303533613733396264386631663764666338363862303163306562303433373039
      3731623338623730303563663632323465396233306239320a333231663664666239353531376130
      63623263643735373938613736623266643566393366383032353939343131646636643636366134
      3866393337393363360a316465663163363133623034646330396132366466656637313837373630
      3064
notification_email: petr.ruzicka@gmail.com
ntp_server: ntp.nic.cz
openwrt_homepage_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  39376338353166656232346336363530626162653966646332646338343366666233623462333834
  3332666363623834313938646131376435363161373231310a363465663832393337643131396439
  38653866613930666366633935363733653936316334393634383663383235623862663462303062
  3539656331623863610a346161356665383135326561306165633233313263616162326133393830
  39353731313037303732643034346165623037666239636333346231313539373731
openwrt_ip: 192.168.1.1
openwrt_luci_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  31353335376662303038633537356637663461303963396433653738303239323761616235353664
  3937313962663738623439366663626435326263653530300a653063633431313063616138376264
  30363332313963616137386434393338653736643634356432323361373565306634623062333165
  3066616463613265390a346137636634636163383630666533363433636536333938323139386361
  3861
openwrt_luci_user: root
prometheus_hass_bearer_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38383531333561393731633337326265343363303633363561643362646566316337383834346634
  3133353737636138363932323530373433306661346433640a656630656162616665353465363766
  66633535653363656439623663643833363165393532383437373439393161363266656133626135
  3839643137333535340a323637303761383833396566376339333138313431313162356531623061
  64393331656236323263616635303734643462653239636232656362353638623239663238653235
  34636237373030343136396130326133653534353638396633366438633630386162313034616232
  36393365653539643435633732333632346666343261353062616236306231323433663938336435
  32333033353664373634363137396431353634616663326139646639383064346432333939313933
  34336332313634393966633132613737623762306334316635336130386334353438656637396238
  33316137326539636264393838623239343063303332333635306539323533306436646562313134
  65633562633438613336303966393833393566633163663234313565303962333838663734313465
  63666363373565313262383365383633346261303436346465386633343239656634396361613664
  37333466323262626638316530343962663733373539393666393539613461353339
# renovate: datasource=github-tags depName=prometheus/prometheus
prometheus_version: 3.7.3
prometheus_web_external_url: https://prometheus-rpi.xvx.cz
prometheus_web_listen_address: 127.0.0.1:9090
rpi_disable_boot_services:
  - cloud-config.service
  - cloud-final.service
  - cloud-init-local.service
  - cloud-init-main.service
  - cloud-init-network.service
  - console-setup
  - dnsmasq
  - keyboard-setup
  - ModemManager
  - regenerate_ssh_host_keys
  - sshd-keygen
  - sshswitch
rpi_packages:
  - bsd-mailx
  - dma
  - dnsmasq
  - fzf
  - htop
  - jq
  - knot-dnsutils
  - kodi
  - mc
  - pipewire-audio
  - python3-debian
  - smartmontools
  - sqlite3
  - telnet
  - unattended-upgrades
  - vim
  - wireplumber
rpi_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  64396630623531333366363238336262323836616539343733376566376235363531626436323766
  3364623934613136393366323237613931363132333764320a623038636534393439663262313366
  34633631376264663737316632343431366634393963653231343033343736663666356164323266
  3966613839626662300a326336306163353738656265383662656466656530383830373461623531
  3234
smtp_gmail_auth_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  30383831616336336365303963343030386233646130313239633937666662393234316538396432
  3435646632343366363331383462383439633862353436320a636130326162636432376131396561
  34346237616238313630613965313462336131356664353632613733333439663864303139326335
  3862666238383439660a383065633337663734343633636635323763393132306164303662323864
  32613061646137646163643864356537616236626534373533323833333465393537
smtp_gmail_auth_user: my.user.mbox@gmail.com
timezone: Europe/Prague
transmission_ip: 192.168.1.1
transmission_rpc_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  61636232353534343135343030363838363536633233326533623163336135386134323337656665
  6139326634336561396435623661623831663261636363380a343434643535313164373765653064
  61393234643738643262613733666464643931383238643866623538343031313562646232376238
  3238336533316436610a393336313136626434663366393035363963653438656132653835336265
  3831
uptimerobot_api_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63653537633163616634336138303665393361383434333435343765646434653361303461653137
  6635323036613537316166383661623363346133623864650a343838626336336366623834333661
  62636639303334373835326432393635613230366535373937343665373036356166386461313634
  6132663364643333640a666431393930353437313436396132306539666265633665643832643063
  33616537663334323532346534623438646432383461646663386331626365626137626664356635
  3037343030383237313463643638366562636562626237316665
wifi_24ghz_ssid: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  61383962633066336661323739653137323539313036393337316230633161613363383264643432
  3163343731396161636262333362336563643136663533620a616565326133623565316234323835
  61393231353530303831653135363236653433373138333932376336623665373739396236366139
  3231643636653766380a363162613764303961383661653439656163363663663733623562366261
  36383937656134373835366234346664633266303562333065616264396130353033
wifi_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38313561373065396633323964373932376263663134386633316334346433376439353633393835
  3663303865633637363537353234306135303235303263390a373536383261353561623632366436
  62386430376535333439616336663133373963663063656462636665326431376234316435333438
  6430343733306465360a623335356632356131363832366637646439343739356163633734646433
  3861
zigbee2mqtt_ext_pan_id: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  35653636353434653738633661383466353063663038653437663737613039363862636639656630
  3634663432353933346461666532623237383933393931340a653333646663363937303330633933
  34313563663134636666393236643433336237313966373764396366383138306261366237363234
  3665383930613939630a313165653965663039373234663362346337643735303233386566386533
  34386136633237636364383839646363323564323138383230653361626463306261323238323639
  3234396434383962313235636436306165376235333862313265
zigbee2mqtt_network_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  65383331363035613365313433306138396637616434356230643236646235353230313234333133
  6363316366373932646466646533323533343464363064390a376461393133356133616238643738
  66626162363832366137666235656532636663613535353865346638613562366366663234316461
  6136303538386532610a316137383339313966323232363038343064306663333336633030313364
  38623934666134336466373862356239303139663033313137646665323335653737623632616364
  62623836343134363638393330616561316166303863666361306333373230653539353861616530
  38633862623236636265326133333764613635393361343234303435633364313033393339656338
  65613336323634336430
zigbee2mqtt_pan_id: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  65366464326466636130613239393130643561353531643534316233646131306235643663616335
  3465376539303038313162656266393033643832663562660a303033306438613431363238336231
  62626631376336316566336534306261643034336466336665383930396336333536323462636235
  3733616266396366390a383038316666616161643539643236613062303461343162653536313337
  6662
zigbee_coordinator_ip: 192.168.1.3
# keep-sorted end
