integrations:
  agent:
    enabled: true
  process_exporter:
    enabled: true
    process_names:
      - exe:
        - kodi.bin
      - comm:
        - EasyAudioEncode
        - fail2ban
        - grafana-agent
        - transmission-da
        - Xorg
  node_exporter:
    enabled: true
    enable_collectors:
      - interrupts
      - meminfo_numa
      - mountstats
      - systemd
      - tcpstat
  prometheus_remote_write:
  - basic_auth:
      password: {{ grafana_cloud_api_key }}
      username: {{ grafana_cloud_prometheus_username }}
    url: https://prometheus-prod-01-{{ grafana_cloud_api_url_region }}-0.grafana.net/api/prom/push
loki:
  configs:
  - clients:
    - basic_auth:
        password: {{ grafana_cloud_api_key }}
        username: {{ grafana_cloud_loki_username }}
      url: https://logs-prod-{{ grafana_cloud_api_url_region }}-0.grafana.net/api/prom/push
    name: integrations
    positions:
      filename: /tmp/positions.yaml
    target_config:
      sync_period: 10s
    scrape_configs:
      - job_name: system
        static_configs:
        - labels:
            __path__: /var/log/{*log,daemon,messages}
            job: varlogs
          targets:
          - localhost
prometheus:
  global:
    scrape_interval: 1m
  wal_directory: /tmp/grafana-agent-wal
  configs:
    - name: agent
      scrape_configs:
        - job_name: grafana-agent
          static_configs:
            - targets: ['127.0.0.1:12345']
        - job_name: blackbox-http_2xx
          metrics_path: /probe
          params:
            module: [http_2xx]
          static_configs:
            - targets:
              - http://192.168.1.1
              - https://google.com
              - https://root.cz
          relabel_configs:
            - source_labels: [__address__]
              target_label: __param_target
            - source_labels: [__param_target]
              target_label: instance
            - target_label: __address__
              replacement: 127.0.0.1:9115
        - job_name: blackbox-icmp
          metrics_path: /probe
          params:
            module: [icmp]
          scrape_interval: 5s
          static_configs:
            - targets:
              - 192.168.1.1
              - google.com
              - root.cz
          relabel_configs:
            - source_labels: [__address__]
              target_label: __param_target
            - source_labels: [__param_target]
              target_label: instance
            - target_label: __address__
              replacement: 127.0.0.1:9115
        - job_name: blackbox-ssh
          metrics_path: /probe
          params:
            module: [ssh_banner]
          static_configs:
            - targets:
              - gate-bracha.xvx.cz:22222
          relabel_configs:
            - source_labels: [__address__]
              target_label: __param_target
            - source_labels: [__param_target]
              target_label: instance
            - target_label: __address__
              replacement: 127.0.0.1:9115
      remote_write:
        - basic_auth:
            password: {{ grafana_cloud_api_key }}
            username: {{ grafana_cloud_prometheus_username }}
          url: https://prometheus-prod-01-{{ grafana_cloud_api_url_region }}-0.grafana.net/api/prom/push
server:
  http_listen_port: 12345
