network:
  version: 2
  renderer: NetworkManager
  ethernets:
    eth0:
      dhcp4: true
  wifis:
    wlan0:
      dhcp4: true
      dhcp6: true
      # optional: true
      access-points:
        "${WIFI_SSID}":
          password: "${WIFI_PASSWORD}"
