---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services
# https://github.com/walkxcode/dashboard-icons/tree/main/svg

- Apps:
    - Kodi:
        description: Free and Open Source home theatre software.
        href: https://kodi-rpi.xvx.cz/
        icon: kodi.svg
        siteMonitor: http://localhost:8080

    - OpenSSH:
        description: Connectivity tool for remote login with the SSH protocol.
        href: https://ssh-rpi.xvx.cz/
        icon: https://upload.wikimedia.org/wikipedia/commons/0/00/Unofficial_SSH_Logo.svg
        siteMonitor: https://ssh-rpi.xvx.cz/

    - qBittorrent:
        description: qBittorrent BitTorrent client
        href: https://qbittorrent-rpi.xvx.cz/
        icon: qbittorrent.svg
        siteMonitor: http://localhost:8081
        widget:
          type: qbittorrent
          url: http://localhost:8081
          username: admin
          password: {{ qbittorrent_password }}
          rpcUrl: /

    - Home Assistant:
        container: home-assistant
        description: Home Assistant is free and open-source software for home automation, designed to be an Internet of things ecosystem-independent integration platform and central control system for smart home devices, with a focus on local control and privacy.
        href: https://hass-rpi.xvx.cz/
        icon: home-assistant.svg
        siteMonitor: http://localhost:8123

    - Homepage:
        container: homepage
        description: A modern, fully static, fast, secure fully proxied, highly customizable application dashboard with integrations for over 100 services and translations into multiple languages.
        href: https://rpi.xvx.cz/
        icon: https://raw.githubusercontent.com/gethomepage/homepage/47765ee05e633c87fcf8fca8ee1293bf0ef6bb3e/docs/assets/light_squircle%402x.png
        siteMonitor: http://localhost:3000

    - Plex Media Server:
        container: plex
        description: Plex Media Server is free software that allows users to create a client–server for movies, television shows, and music.
        href: https://plex-rpi.xvx.cz/
        icon: plex.svg
        siteMonitor: http://localhost:32400

    - CloudFlare:
        description: Cloudflare provides content delivery network services, DDoS mitigation, Internet security, and distributed domain name server services.
        href: https://one.dash.cloudflare.com/b39266dd4dcec1a04068ba36d36bd250/access/apps
        icon: cloudflare.svg
        siteMonitor: https://one.dash.cloudflare.com

    - My Status Page:
        description: My Status Page is a status page for monitoring the status of my services.
        href: https://status.xvx.cz
        icon: https://raw.githubusercontent.com/gilbarbara/logos/ee038548b93789076d01d889e684d8c518c937fe/logos/statuspage.svg
        siteMonitor: https://status.xvx.cz
        widget:
          type: uptimerobot
          url: https://api.uptimerobot.com
          key: {{ uptimerobot_api_key }}

    - Openwrt:
        description: OpenWrt is an open-source project for embedded operating systems based on Linux, primarily used on embedded devices to route network traffic.
        href: https://{{ openwrt_ip }}
        icon: openwrt.svg
        siteMonitor: https://{{ openwrt_ip }}
        widget:
          type: openwrt
          url: https://{{ openwrt_ip }}
          username: homepage
          password: {{ openwrt_homepage_password }}
          interfaceName: eth0

    - Zigbee2MQTT:
        description: Zigbee 🐝 to MQTT bridge 🌉, get rid of your proprietary Zigbee bridges 🔨
        href: https://zigbee2mqtt-rpi.xvx.cz/
        icon: zigbee2mqtt.svg
        siteMonitor: http://localhost:18082

    - ESPHome:
        description: ESPHome is a system to control your ESP8266/ESP32 by simple yet powerful configuration files and control them remotely through Home Automation systems.
        href: https://esphome-rpi.xvx.cz/
        icon: esphome.svg
        siteMonitor: http://localhost:6052
        widget:
          type: esphome
          url: http://localhost:6052

    - Emqx:
        description: EMQ X is a highly scalable, real-time distributed MQTT message broker for IoT, M2M, and mobile applications.
        href: https://emqx-rpi.xvx.cz/
        icon: emqx.svg
        siteMonitor: http://localhost:18083

    - Prometheus:
        description: The Prometheus monitoring system and time series database.
        href: https://prometheus-rpi.xvx.cz/
        icon: prometheus.svg
        siteMonitor: http://localhost:9090
        widget:
          type: prometheus
          url: http://localhost:9090

    - cAdvisor:
        description: Analyzes resource usage and performance characteristics of running containers.
        href: https://cadvisor-rpi.xvx.cz/
        icon: https://raw.githubusercontent.com/walkxcode/dashboard-icons/50c4b5ee2b207708a16726b5ff87a9ab0438ea17/png/cadvisor.png
        siteMonitor: http://localhost:8085

    - Grafana:
        description: The open and composable observability and data visualization platform. Visualize metrics, logs, and traces from multiple sources like Prometheus, Loki, Elasticsearch, InfluxDB, Postgres and many more.
        href: https://grafana-rpi.xvx.cz/
        icon: grafana.svg
        siteMonitor: http://localhost:3001
        widget:
          type: grafana
          url: http://localhost:3001
          username: {{ grafana_security.admin_user }}
          password: {{ grafana_security.admin_password }}

    - Grafana - Raspberry Pi / overview:
        description: Grafana is a multi-platform open-source analytics and interactive visualization web application.
        href: https://xvx.grafana.net/d/raspberrypinode-overview/raspberry-pi-overview?orgId=1&refresh=30s
        icon: grafana.svg
        siteMonitor: https://xvx.grafana.net

    - Grafana - Raspberry Pi / logs:
        description: Grafana is a multi-platform open-source analytics and interactive visualization web application.
        href: https://xvx.grafana.net/d/raspberrypinode-logs/raspberry-pi-logs?orgId=1&refresh=30s
        icon: grafana.svg
        siteMonitor: https://xvx.grafana.net
