---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Apps:
    - Kodi:
        description: Free and Open Source home theatre software.
        href: https://kodi-rpi.xvx.cz/
        icon: https://raw.githubusercontent.com/teamapps-org/teamapps-antu-icons/68d1f2a9e9b38b78f265809cb0a69237b8a85900/project-resources/antu-classic/Antu/apps/48/kodi.svg
        siteMonitor: http://localhost:8080

    - OpenSSH:
        description: Connectivity tool for remote login with the SSH protocol.
        href: https://ssh-rpi.xvx.cz/
        icon: https://upload.wikimedia.org/wikipedia/commons/0/00/Unofficial_SSH_Logo.svg
        siteMonitor: https://ssh-rpi.xvx.cz/

    - Transmission:
        description: Transmission is a BitTorrent client which features a variety of user interfaces on top of a cross-platform back-end.
        href: https://transmission-rpi.xvx.cz/
        icon: https://raw.githubusercontent.com/transmission/transmission/083529c5bb43afaad7d53df295407ff4d8a7a20c/qt/icons/transmission.svg
        siteMonitor: http://localhost:9991
        widget:
          type: transmission
          url: http://localhost:9991
          username: transmission
          password: {{ transmission_rpc_password }}
          rpcUrl: /

    - Home Assistant:
        container: home-assistant
        description: Home Assistant is free and open-source software for home automation, designed to be an Internet of things ecosystem-independent integration platform and central control system for smart home devices, with a focus on local control and privacy.
        href: https://hass-rpi.xvx.cz/
        icon: https://raw.githubusercontent.com/bskaplou/home-assistant-electron/ade0e4761cf73bfcfcd3b001aa0eb27f44b7a30c/home_assistant_logo.svg
        siteMonitor: http://localhost:8123

    - Homepage:
        container: homepage
        description: A modern, fully static, fast, secure fully proxied, highly customizable application dashboard with integrations for over 100 services and translations into multiple languages.
        href: https://rpi.xvx.cz/
        icon: https://raw.githubusercontent.com/gethomepage/homepage/47765ee05e633c87fcf8fca8ee1293bf0ef6bb3e/docs/assets/light_squircle%402x.png
        siteMonitor: http://localhost:3000

    - Scrutiny:
        container: scrutiny
        description: Hard Drive S.M.A.R.T Monitoring, Historical Trends & Real World Failure Thresholds.
        href: https://scrutiny-rpi.xvx.cz/
        icon: https://raw.githubusercontent.com/AnalogJ/scrutiny/8482272d45aaf4a6a32a1585b03e07a3c79a0682/webapp/frontend/src/assets/images/logo/scrutiny-logo-white.svg
        siteMonitor: http://localhost:8081

    - Plex Media Server:
        container: plex
        description: Plex Media Server is free software that allows users to create a client–server for movies, television shows, and music.
        href: https://plex-rpi.xvx.cz/
        icon: https://raw.githubusercontent.com/plexinc/plex-media-player/51e2b74367850cb5ab77ac51329dfd8a7a7320e4/resources/images/icon.svg
        siteMonitor: http://localhost:32400

    - Grafana - Node Exporter Full:
        description: Grafana is a multi-platform open-source analytics and interactive visualization web application.
        href: https://xvx.grafana.net/d/rYdddlPWk/node-exporter-full?orgId=1&refresh=1m
        icon: https://raw.githubusercontent.com/gilbarbara/logos/84fc2abe2b9d0b5b39ceac4af32c6e7eccecd657/logos/grafana.svg
        siteMonitor: https://xvx.grafana.net

    - Grafana - Node Exporter Server Metrics:
        description: Grafana is a multi-platform open-source analytics and interactive visualization web application.
        href: https://xvx.grafana.net/d/P1HjJ7A7z/node-exporter-server-metrics?orgId=1&refresh=1m
        icon: https://raw.githubusercontent.com/gilbarbara/logos/84fc2abe2b9d0b5b39ceac4af32c6e7eccecd657/logos/grafana.svg
        siteMonitor: https://xvx.grafana.net

    - Grafana - Node - Network Overview:
        description: Grafana is a multi-platform open-source analytics and interactive visualization web application.
        href: https://xvx.grafana.net/d/MBRTkBRZk/node-network-overview?orgId=1&refresh=1m
        icon: https://raw.githubusercontent.com/gilbarbara/logos/84fc2abe2b9d0b5b39ceac4af32c6e7eccecd657/logos/grafana.svg
        siteMonitor: https://xvx.grafana.net

    - CloudFlare:
        description: Cloudflare provides content delivery network services, DDoS mitigation, Internet security, and distributed domain name server services.
        href: https://one.dash.cloudflare.com/b39266dd4dcec1a04068ba36d36bd250/access/apps
        icon: https://raw.githubusercontent.com/gilbarbara/logos/5d365d6566feda9301b95dffa57825728410ce01/logos/cloudflare-icon.svg
        siteMonitor: https://one.dash.cloudflare.com
