---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings

color: slate
hideVersion: true
showStats: true
theme: dark
title: RPi Homepage

layout:
  - Apps:
      icon: https://raw.githubusercontent.com/duplicati/duplicati/b5b31100c34f706963d91411ff74d8a89a6c451b/Assets/application%20icon/application_icon.svg
  - Containers:
      icon: https://raw.githubusercontent.com/janus-idp/backstage-showcase/bfa4d31dc0bf55abe5f8030a51faf3cb6b797da2/packages/app/public/homepage/icons/podman_logo.svg
