---
- name: Run all
  hosts: all
  become: true
  force_handlers: true
  collections:
    - ansible.posix
    - community.docker
    - community.general
    - grafana.grafana

  pre_tasks:
    - name: Set authorized key for pi and root
      ansible.posix.authorized_key:
        user: "{{ item }}"
        key: "{{ lookup('file', lookup('env', 'HOME') + '/.ssh/id_ed25519.pub') }}"
      loop:
        - pi
        - root

    - name: Change pi and root user password
      ansible.builtin.user:
        name: "{{ item }}"
        password: "{{ rpi_password | string | password_hash('sha512') }}"
      changed_when: false
      loop:
        - pi
        - root

  roles:
    - role: geerlingguy.firewall
    - role: grafana.grafana.alloy
      vars:
        alloy_version: "{{ alloy_grafana_version }}"
        alloy_config: "{{ lookup('ansible.builtin.template', 'files/etc/alloy/config.alloy.j2') }}"
        alloy_systemd_override: |
          [Service]
          User=root
    - role: grafana.grafana.grafana
    - role: prometheus.prometheus.prometheus
      vars:
        prometheus_storage_retention_size: 5GB
        prometheus_config_flags_extra:
          web.enable-admin-api:
          web.enable-remote-write-receiver:
  tasks:
    - name: Install and configure system-defaults
      ansible.builtin.include_tasks:
        file: tasks/system-defaults.yml

    - name: Install and configure apps
      ansible.builtin.include_tasks:
        file: tasks/apps.yml

  handlers:
    - name: Import handlers
      ansible.builtin.import_tasks: handlers/main.yml
