#################################################
# Core config
#################################################

homeassistant:
  name: Home, Sweet Home...
  latitude: 49.2078594
  longitude: 16.5492591
  elevation: 240
  currency: CZK
  country: CZ
  time_zone: {{ timezone }}
  external_url: {{ hass_url }}

#################################################
# Features
#################################################

automation: !include automations.yaml

default_config:

device_tracker:
  - platform: luci
    host: {{ openwrt_ip }}
    username: !secret openwrt_luci_username
    password: !secret openwrt_luci_password
    verify_ssl: false

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - ::1
    - {{ ansible_default_ipv4.address }}

lovelace:
  mode: yaml
  dashboards:
    lovelace-rpi-xvx-cz:
      mode: yaml
      filename: lovelace/sidebar_url_rpi_xvx_cz.yaml
      title: RPi
      icon: mdi:home-outline
      show_in_sidebar: true
    lovelace-esphome-xvx-cz:
      mode: yaml
      filename: lovelace/sidebar_url_esphome_xvx_cz.yaml
      title: ESPHome
      icon: mdi:chip
      show_in_sidebar: true
    lovelace-grafana-xvx-cz:
      mode: yaml
      filename: lovelace/sidebar_url_grafana_xvx_cz.yaml
      title: Grafana
      icon: mdi:chart-timeline
      show_in_sidebar: true
    lovelace-prometheus-xvx-cz:
      mode: yaml
      filename: lovelace/sidebar_url_prometheus_xvx_cz.yaml
      title: Prometheus
      icon: mdi:chart-pie
      show_in_sidebar: true
    lovelace-uzg-01-xvx-cz:
      mode: yaml
      filename: lovelace/sidebar_url_uzg-01_xvx_cz.yaml
      title: UZG Gateway
      icon: mdi:zigbee
      show_in_sidebar: true
    lovelace-zigbee2mqtt-xvx-cz:
      mode: yaml
      filename: lovelace/sidebar_url_zigbee2mqtt_xvx_cz.yaml
      title: Zigbee2MQTT
      icon: mdi:graphql
      show_in_sidebar: true

logger:
  default: warn
  filters:
    homeassistant.loader:
      - "We found a custom integration .* which has not been tested by Home Assistant.*"
    py.warnings:
      - "InsecureRequestWarning: Unverified HTTPS request is being made to host.*"

# mqtt:
#   broker: 127.0.0.1
#   port: 1883
#   username: {{ mqtt_clients.homeassistant.user }}
#   password: {{ mqtt_clients.homeassistant.password }}

notify:
  - name: notify_smtp_gmail
    encryption: starttls
    password: !secret smtp_gmail_auth_password
    platform: smtp
    port: 587
    recipient: !secret smtp_recipient
    sender_name: Home Assistant
    sender: !secret smtp_gmail_auth_user
    server: smtp.gmail.com
    timeout: 15
    username: !secret smtp_gmail_auth_user

recorder:
  purge_keep_days: 7
