# keep-sorted start
openwrt_luci_password: {{ openwrt_luci_password }}
openwrt_luci_username: {{ openwrt_luci_user }}
smtp_gmail_auth_password: {{ smtp_gmail_auth_password }}
smtp_gmail_auth_user: {{ smtp_gmail_auth_user }}
smtp_recipient: {{ notification_email }}
# keep-sorted end
