[connection]
id=${WIFI_SSID}
uuid=5a62d13a-fdf8-4737-8f7d-f43764685207
type=wifi
#interface-name=wlan0
autoconnect-retries=0

[wifi]
mode=infrastructure
ssid=${WIFI_SSID}

[wifi-security]
#auth-alg=open
key-mgmt=wpa-psk
psk=${WIFI_PASSWORD}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto
