network:
  version: 2
  renderer: NetworkManager
  wifis:
    wlan1:
      match:
        macaddress: "a0:f3:c1:1b:de:a6"
      set-name: wlan1
      dhcp4: yes
      dhcp6: yes
      access-points:
        "${WIFI_SSID}":
          auth:
            key-management: psk
            password: "${WIFI_PASSWORD}"
          networkmanager:
            passthrough:
              connection.autoconnect-retries: 0
