network:
  version: 2
  renderer: NetworkManager
  wifis:
    wlan0:
      match:
        macaddress: "90:de:80:3e:93:fc"
      dhcp4: yes
      dhcp6: yes
      access-points:
        "${WIFI_SSID}":
          auth:
            key-management: psk
            password: "${WIFI_PASSWORD}"
          networkmanager:
            passthrough:
              connection.autoconnect-retries: 0
