name: ansible-lint

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

jobs:
  ansible-playbooks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint-action@master
        with:
          override-deps: |
            ansible-lint==5.3.2
          targets: |
            main.yml
            playbooks/*.yml
