---
name: rpi-image-modifier

on:
  workflow_dispatch:

permissions: read-all

env:
  RASPBERRY_PI_OS_VERSION: "2024-03-15"
  RPI_USER: pi
  # shellcheck disable=SC2016
  RPI_PASSWORD_YESCRYPT_HASH: "$y$j9T$teBQF20fiZEV5K3NZbwZ30$kIlVP6po2p43KH17C/26cmDN1i./cQriWj9Wp4rSHq2" # raspberry
  WIFI_SSID: "ruzickovi 2.4 GHz"
  WIFI_PASSWORD: ${{ secrets.WIFI_PASSWORD }}

jobs:
  rpi-image-modifier:
    runs-on: ubuntu-latest
    steps:
      - name: Change Raspberry Pi OS
        uses: dtcooper/rpi-image-modifier@745a9b5b056f781978676f1c0f935ff47daddf03 # v1.3.0
        id: create-image
        with:
          base-image-url: https://downloads.raspberrypi.com/raspios_lite_arm64/images/raspios_lite_arm64-${{ env.RASPBERRY_PI_OS_VERSION }}/${{ env.RASPBERRY_PI_OS_VERSION }}-raspios-bookworm-arm64-lite.img.xz
          image-path: ${{ env.RASPBERRY_PI_OS_VERSION }}-raspios-bookworm-arm64-lite-modified.img
          env-vars: RPI_USER,RPI_PASSWORD_YESCRYPT_HASH,WIFI_SSID,WIFI_PASSWORD
          run: |
            set -euxo pipefail

            echo "Petr Ruzicka - petr.ruzicka@gmail.com" | tee -a /owner.txt > /boot/owner.txt
            touch /boot/ssh
            echo "${RPI_USER}:${RPI_PASSWORD_YESCRYPT_HASH}" > /boot/userconf.txt

            cat > "/etc/NetworkManager/system-connections/${WIFI_SSID}.nmconnection" << EOF
            [connection]
            id=${WIFI_SSID}
            uuid=5a62d13a-fdf8-4737-8f7d-f43764685207
            type=wifi
            interface-name=wlan0
            autoconnect=true

            [wifi]
            mode=infrastructure
            ssid=${WIFI_SSID}

            [wifi-security]
            auth-alg=open
            key-mgmt=wpa-psk
            psk=${WIFI_PASSWORD}

            [ipv4]
            method=manual
            dns=8.8.8.8;1.1.1.1;
            address1=192.168.1.2/24,192.168.1.1

            [ipv6]
            method=auto
            EOF

            chmod 600 "/etc/NetworkManager/system-connections/${WIFI_SSID}.nmconnection"

            mkdir -p "/home/${RPI_USER}/.ssh"
            chmod 700 "/home/${RPI_USER}/.ssh"
            wget -q https://github.com/ruzickap.keys -O "/home/${RPI_USER}/.ssh/authorized_keys"
            chmod 600 "/home/${RPI_USER}/.ssh/authorized_keys"
            chown -R -v "${RPI_USER}:${RPI_USER}" "/home/${RPI_USER}/.ssh"

      - name: Upload build artifact
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: ${{ env.RASPBERRY_PI_OS_VERSION }}-raspios-bookworm-arm64-lite-modified.img
          path: ${{ steps.create-image.outputs.image-path }}
          if-no-files-found: error
          retention-days: 2
          compression-level: 9
          overwrite: true
